<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Previewing The World of Vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.css"
  integrity="sha256-oQhE1gzQ/RLRlHgKfVUhrAe03FJbQLmTjY5ngEJPhdg="
  crossorigin="anonymous"
  >
  <link rel="stylesheet" href="index.css">

</head>

<body>

  <script
  src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"
  integrity="sha256-FZ8KwMj1F6qnNgA7bhPryVm19xKduH5OVr8u7I1tAtc="
  crossorigin="anonymous"
  ></script>

  <h1>Previewing The World of Vue!</h1>

  <div id="app">
    <input type="text" name="add-todo-text" id="add-todo-text" v-model="newTodoText">
    <button id="add-todo-button" v-on:click="addTodo">Add Todo</button>

    <ul id="todo-list">
      <li
      v-for="todo in todoList"
      v-on:click="removeTodo(todo)"
      >{{ todo.text }}</li>
    </ul>
  </div>

  <script src="index.js"></script>

</body>

</html>
