<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The World of Vue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.css"
      integrity="sha256-oQhE1gzQ/RLRlHgKfVUhrAe03FJbQLmTjY5ngEJPhdg="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"
      integrity="sha256-FZ8KwMj1F6qnNgA7bhPryVm19xKduH5OVr8u7I1tAtc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/ramda@0.27.1/dist/ramda.min.js"
      integrity="sha256-b9w9dH2wg4H3c1vaJkmkV7r8AxhRan6+41iRnFB6jck="
      crossorigin="anonymous"
    ></script>

    <div id="app">
      <h1>The World of Vue!</h1>

      <app-greeter></app-greeter>

      <div id="name-changer">
        <p v-bind:class="{ 'updated': name != initial.name }">{{ name }}</p>

        <button v-on:click="changeName">Change Name</button>

        <p v-if="name != initial.name">You changed the name!</p>
      </div>

      <div id="item-lister">
        <button v-on:click="addItem">New Item</button>

        <ul>
          <li
            v-for="item in itemList"
            v-on:click="removeItem(item)"
            v-bind:id="`item-${item}`"
            v-bind:style="{ 'background-color': chooseItemColor(item) }"
          >
            Item {{ item }}
          </li>
        </ul>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
